$light-color: #f4f4f4;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$tertiary-color: #4caf50;
$hero-color: #640fc5;
$navbar-bg-color: #8c8c8c;
$navbar-text-color: #f4f4f4;
$navbar-link-hover-color: #b01818;
